/* You can add global styles to this file, and also import other style files */
//@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import './custom-theme.scss';

 @import './assets/styling/animation.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

;html, body { height: 100%; margin: 0; padding: 0; overflow-x: 'none'; max-width:100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif;}
.spacer { flex: 1 1 auto; }
/* Default tooltip size */
.mat-tooltip { font-size: 1rem  !important; }
/* really angular? */
.mat-drawer-container {
  background-color: var(--color-primary);
 }



