$light-green-blue-pallete: (
  $primary-color-dark: #0288d1,
  $primary-color: #03a9f4,
  $primary-color-light: #b3e5fc,
  $primary-color-text: #ffffff,
  $accent-color: #4caf50,
  $primary-text-color: #212121,
  $secondary-text-color: #757575,
  $divider-color: #bdbdbd,
);
